body {
    align-items: center;
    /* justify-content: flex-start; */
    width: 1200px;
    height: 600px;
}

.flex {
    display: flex;
}

.margin {
    margin: 1rem;
}

.donut {
    position:relative;
    align-items: center;
    width: 50%;
    height: 70%;
    margin-top: 10px; 
    border: 3px solid green;
}

#myDonut {
    border: 1px solid black;
    z-index: 10;
}

