body {
    align-items: center;
    /* justify-content: flex-start; */
    width: 400px;
    height: 500px;
    top: 20%;
    left: 20%;
}

.flex {
    display: flex;
}

.center {
    display: flex;
    align-items: center;
    justify-content: center;
}

.margin {
    margin: 1rem;
}

.padding {
    padding: 1rem;
}

.title-bar {
    border: 2px solid green;
}

#title {
    font-size: 2em;
    font-weight: bold;
}

#donut {
    width: 200px;
    height: auto;
    z-index: 10;
}


#overlay {
    position: absolute;
    width: 30px;
    height: 50px;
    top: 50%;
    left: 50%;
    z-index: 100;
    transform: translate(-110px, -90px);
    
}
